<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="New_menu_for_minersweeper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <New_menu_for_minersweeper.Properties.Settings>
            <setting name="best_time" serializeAs="String">
                <value>00 : 56</value>
            </setting>
            <setting name="best_user" serializeAs="String">
                <value>Игрок</value>
            </setting>
            <setting name="best_time1" serializeAs="String">
                <value>00 : 00</value>
            </setting>
            <setting name="best_user1" serializeAs="String">
                <value>Игрок</value>
            </setting>
            <setting name="best_time2" serializeAs="String">
                <value>00 : 00</value>
            </setting>
            <setting name="best_user2" serializeAs="String">
                <value>Игрок</value>
            </setting>
        </New_menu_for_minersweeper.Properties.Settings>
    </userSettings>
</configuration>